/*#sensorAGraph{
    position : relative;
    left:640px;
    top:-370px;
}

#waterstate{
    position:relative;
    left:30px;
    top:14px;
}

#pressurebar{
    position:relative;
    left:20px;
    top : -410px;
}

#sensorBGraph{
    position:relative;
    left:515px;
    top:-925px;
}

#sensorCGraph{
    position:relative;
    left:15px;
    top:-900px;

}

#sensorDGraph{
    position:relative;
    left:15px;
    top:-875px;
}
*/